{
    "port": 5000,

    "comment": "Please don't ...",

    "repositories": [
      {
        "url": "github.com:your/repository.git"
      , "name": "app-frontend"
      , "directory": "app/translations"
      , "master": "en"
      , "comment": "Please don't..."
      , "only": ""
      , "branch": "release/*"
      , "throughput": 2
      }
    ]
}
